In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.2.1'

In [6]:
lst = [1,2,3,4,5]
lst
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
arr = np.array(lst)
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
pd.Series(data = ["Raghvendra","Pranjal","Hero"], index = [1,2,3])

1    Raghvendra
2       Pranjal
3          Hero
dtype: object

In [13]:
steps = {'day 1' : 3000, 'day 2': 2000}
pd.Series(steps)
pd.Series(steps).repeat(5)

day 1    3000
day 1    3000
day 1    3000
day 1    3000
day 1    3000
day 2    2000
day 2    2000
day 2    2000
day 2    2000
day 2    2000
dtype: int64

In [17]:
pd.Series(steps).repeat(3).reset_index(drop=True)

0    3000
1    3000
2    3000
3    2000
4    2000
5    2000
dtype: int64

In [22]:
s = pd.Series([10,20,30]).repeat([5,3,2]).reset_index(drop=True)

In [23]:
s[0]

10

In [30]:
s[1:-1]

1    10
2    10
3    10
4    10
5    20
6    20
7    20
8    30
dtype: int64

In [37]:
sr = pd.Series([1,2,3,45,6,3])
sr.agg(['min','max'])

min     1
max    45
dtype: int64

In [35]:
sr = pd.Series([1,2,3,45,6,3])
sr.abs()

0     1
1     2
2     3
3    45
4     6
5     3
dtype: int64

In [42]:
sr = pd.Series([1,2,3,45,6,3])
sr1 = pd.Series([-1,-2,-3,-45,-6,-3])

In [48]:
pd.concat([sr1,sr]).reset_index(drop=True)

0     -1
1     -2
2     -3
3    -45
4     -6
5     -3
6      1
7      2
8      3
9     45
10     6
11     3
dtype: int64

In [49]:
sr = pd.Series([1,2,3,45,6,3])
print(sr)
print(sr.astype('float'))

0     1
1     2
2     3
3    45
4     6
5     3
dtype: int64
0     1.0
1     2.0
2     3.0
3    45.0
4     6.0
5     3.0
dtype: float64

In [5]:
sr = pd.Series([1,2,3,6,5,3,5,3])
sr.between(1,30)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

In [12]:
string1 = pd.Series([' Raghvendra','  Ritik','Rohit  ','Hello World'])
print(string1.str.upper())
print(string1.str.lower())
print(string1.str.len())
print(string1.str.strip())

0     RAGHVENDRA
1          RITIK
2        ROHIT
3    HELLO WORLD
dtype: object
0     raghvendra
1          ritik
2        rohit
3    hello world
dtype: object
0    11
1     7
2     7
3    11
dtype: int64
0     Raghvendra
1          Ritik
2          Rohit
3    Hello World
dtype: object

In [24]:
string1 = pd.Series([' Raghvendra','  Ritik','Rohit  ','Hello World'])
string1.str.split()

0      [Raghvendra]
1           [Ritik]
2           [Rohit]
3    [Hello, World]
dtype: object

In [23]:
string1.str.split()[3]

['Hello', 'World']

In [25]:
string1 = pd.Series([' Raghvendra','  Ritik','Rohit  ','Hello World'])
string1.str.contains('e')

0     True
1    False
2    False
3     True
dtype: bool

In [26]:
string1.str.replace('e','f')

0     Raghvfndra
1          Ritik
2        Rohit
3    Hfllo World
dtype: object

In [27]:
string1.str.count('a')

0    2
1    0
2    0
3    0
dtype: int64

In [28]:
string1.str.endswith('f')

0    False
1    False
2    False
3    False
dtype: bool

In [29]:
string1.str.endswith('a')

0     True
1    False
2    False
3    False
dtype: bool

In [30]:
string1.to_list()

[' Raghvendra', '  Ritik', 'Rohit  ', 'Hello World']

In [32]:
lst = ['Geeks','for','Geeks','is','a','portal','for','Geeks']
pd.DataFrame(lst)
type(pd.DataFrame(lst))

pandas.core.frame.DataFrame

In [33]:
lst = [['tom',10],['ritik',20],['raghvendra',80]]
pd.DataFrame(lst)

            0   1
0         tom  10
1       ritik  20
2  raghvendra  80

In [35]:
lst = {'Name':['Tom','Mike'], 'Score':[10,20]}
pd.DataFrame(lst)

   Name  Score
0   Tom     10
1  Mike     20