In [1]:
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

lst = [1,2,3,4]
np.array(lst)
pd.Series(lst)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
pd.Series(data = ["Raghvendra","Ritik","Jayesh"], index = [1,2,3])

1    Raghvendra
2         Ritik
3        Jayesh
dtype: object

In [12]:
steps = {1:4000, 2:3459, 3:8968}
pd.Series(steps).repeat(5).reset_index(drop=True)
type(pd.Series(steps).repeat(5).reset_index())

pandas.core.frame.DataFrame

In [23]:
s = pd.Series([23,45,67]).repeat([4,6,2]).reset_index()
print(type(pd.Series([23,45,67]).repeat([4,6,2]).reset_index()))
print(type(pd.Series([23,45,67]).repeat([4,6,2]).reset_index(drop=True)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [30]:
s = pd.Series([23,45,67]).repeat([4,6,2]).reset_index(drop=True)
print(s)
print(s[6])

0     23
1     23
2     23
3     23
4     45
5     45
6     45
7     45
8     45
9     45
10    67
11    67
dtype: int64
45

In [33]:
print(s[2:-2:2])

2    23
4    45
6    45
8    45
dtype: int64

In [38]:
sr = pd.Series([1,3,4,5,6,7])
print(sr)
print(sr.aggregate([min,max,sum]))

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64
min     1
max     7
sum    26
dtype: int64

/tmp/ipykernel_5247/1349705082.py:3: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print(sr.aggregate([min,max,sum]))
/tmp/ipykernel_5247/1349705082.py:3: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(sr.aggregate([min,max,sum]))
/tmp/ipykernel_5247/1349705082.py:3: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(sr.aggregate([min,max,sum]))

In [12]:
sr = pd.Series([1,-4,2,6,-8,-10])
type(sr)

pandas.core.series.Series

In [3]:
sr = pd.Series([1,-4,2,6,-8,-10])
sr1 = pd.Series([1,3,4,5,6,7])
sr2 = pd.concat([sr, sr1])
print(sr2)

0     1
1    -4
2     2
3     6
4    -8
5   -10
0     1
1     3
2     4
3     5
4     6
5     7
dtype: int64

In [11]:
sr3 = sr2.reset_index(drop=True)
sr3.astype("'float")
print(sr3)

TypeError: data type "'float" not understood

In [8]:
type(sr2)

pandas.core.series.Series

In [16]:
s = pd.Series([23,45,67]).repeat([4,6,2]).reset_index(drop=True)
print(s)
s.astype(float)

0     23
1     23
2     23
3     23
4     45
5     45
6     45
7     45
8     45
9     45
10    67
11    67
dtype: int64

0     23.0
1     23.0
2     23.0
3     23.0
4     45.0
5     45.0
6     45.0
7     45.0
8     45.0
9     45.0
10    67.0
11    67.0
dtype: float64

In [17]:
s = pd.Series([23,45,67,56,43,7,8,42,54])
s.between(18,67)

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7     True
8     True
dtype: bool

In [22]:
string1 = pd.Series(['Raghvendra','Ritik','Tanmoy','Geeks for Geeks'])
print(string1.str.upper())
print(string1.str.capitalize())
print(string1.str.lower())
for i in string1:
    print(len(i))

0         RAGHVENDRA
1              RITIK
2             TANMOY
3    GEEKS FOR GEEKS
dtype: object
0         Raghvendra
1              Ritik
2             Tanmoy
3    Geeks for geeks
dtype: object
0         raghvendra
1              ritik
2             tanmoy
3    geeks for geeks
dtype: object
10
5
6
15

In [26]:
string1 = pd.Series(['    Raghvendra','    Ritik','   Tanmoy   ','    Geeks for Geeks'])
for i in string1:
    print(len(i))

string1 = string1.str.strip()
for i in string1:
    print(len(i))

string1 = string1.str.split()
string1

14
9
12
19
10
5
6
15

0           [Raghvendra]
1                [Ritik]
2               [Tanmoy]
3    [Geeks, for, Geeks]
dtype: object